.Home-Page-Header {
  display: block;
  color: white;
  width: 100%;
  position: relative;
}

.Home-Page-Header div {
  position: absolute;
  text-align: center;
  font-weight: 800;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
}

